*{
MARGIN:0PX;
PADDING:0PX;}
H1{
FONT:BOLD 20PX TAHOMA;
}H2
{
FONT:BOLD 14PX TAHOMA;
}
HEADER,SECTION,FOOTER ASIDE,NAV,ARTICLE,HGRPUP{
DISPLAY:BLOCK;
}
BODY{
TEXT-ALIGN:CENTER:
}
#BIG-WRAPPER{
BORDER:1PX SOLID BLOCK:
WIDTH:1000PX;
MARGIN:20PX AUTO;
TEXT-ALIGN;LEFT;
]
#TOP-HEADER{
BACKGROUND:YELLOW;
BORDER:1PX SOLID BLUE;
PADDING:20PX;
}
#TOP-MENU{
BACKGROUND:BLUE;
COLOR:WHITE;
}
#TOP-MENU LI{
DISPLAY:INLINE-BLOCK;
LIST-STYLE:NONE;
PADDING:5PX;
FONT:BOLD 14PX TAHOMA;
}
#MAIN-SECTION{
FLOAT:LEFT;
WIDTH:660PX;
MARGIN:30PX /* 720PX,280 LEFT*;
}
#SIDE-NEWS{
FLOAT:LEFT;
WIDTH:220PX;
MARGIN:30PX;
BACKGROUND:#66CCCC;
}
#THE-FOOTER{
CLEAR:BOTH;
TEXT-ALIGN:CENTER;
PADDING:20PX;
BORDERTOP:2PX SOLID GREEN;
}
ARTICLE{
BACKGROUND:#FFFBCC;
BORDER:1PX SOLID RED;
PADDING:20PX;
MARGIN-BOTTOM:15PX;
}
ARTICLE FOOTER{
TEXT-ALIGN:RIGHT;
}