*{
MARGIN:0PX;
PADDING:0PX;}
HEADER,SECTION,FOOTER ASIDE,NAV,ARTICLE,HGROUP{
DISPLAY:BLOCK;
}
H1{
COLOR:black;
FONT:BOLD 20PX TAHOMA;
}
H{
DISPLAY:BLOCK;
BACKGROUND:RED;
}
H3{
TEXT-ALIGN:CENTER;
TEXT:3PX;
}
H9{
COLOR:black;
FONT:BOLD 30PX TAHOMA;
PADDING:6PX;
}
H2{COLOR:red;}
H6{
TEXT-ALIGN:LEFT;
TEXT:3PX;
COLOR:WHITE;
}
BODY{
BACKGROUND:	#66FFFF;
TEXT-ALIGN:CENTER;
}
#BIG-WRAPPER{
BORDER:1PX SOLID BLOCK;
WIDTH:1000PX;
MARGIN:20PX AUTO;
TEXT-ALIGN:LEFT;
}
#TOP-MENU{
BACKGROUND:RED;
COLOR:WHITE;
}
#TOP-MENU LI{
DISPLAY:INLINE-BLOCK;
LIST-STYLE:NONE;
PADDING:7PX;
FONT:BOLD 14PX TAHOMA;
COLOR:WHITE;
}
#MAIN-SECTION{
COLOR:#000;
WIDTH:660PX;
PADDING:130PX;
MARGIN:10PX
}
#TOP-ASIDE{
COLOR:BLUE;
PADDINg:2PX;
FLOAT:LEFT;
MARGIN:20PX;
BACKGROUND:#66CCCC;
overflow:hidden;
BORDER:2PX;
}
#TOP-HEADER{
TEXT-ALIGN:CENTER;
COLOR:BLACK;
WIDTH:660PX;
text-align:center;
BORDER:1PX  yellow;
PADDING:20PX;
BORDER-RADIUS:25PX;
}
#THE-FOOT{
width:100%;
BACKGROUND:BLUE;
DISPLAY:BLOCK;
TEXT-ALIGN:LEFT;
COLOR:BLACK;
}
#THE-FOOT LI{
FONT:BOLD 10PX TAHOMA;
PADDING:1PX;
}
#JOKE{
PADDIND:7PX;
FLOAT:center;
MARGIN:10PX;
}
table#bottomlinks
{
border:none;
width:100%;
}
#bottomlinks td
{
text-align:left;
padding:10px;
vertical-align:top;
}
#MILI{
    line-height:30px;
    float:CENTER;
}
#MINI{
    line-height:30px;
    background-color:yello;
    height:400px;
    width:250px;
    float:left;
    padding:5px; 
}
.THIK{BORDER-WIDTH:THIK}
.INSET{BORDER-STYLE:INSET}
#THE-FOOTER{
COLOR:BLACK;
CLEAR:BOTH;
TEXT-ALIGN:CENTER;
PADDING:20PX;
}
