BODY{
TEXT-ALIGN:CENTER;
}
#BOX{
DISPLAY:BLOCK;
WIDTH:500PX;
MARGIN:50PX AUTO;
PADDING:15PX;
TEXT-ALIGN:CENTER;
BACKGROUND:-WEBKIT-LINEAR-GRADIENT(TOP,BLACK,WHITE);
BOX-SHADOW:RGB(110,110,110) 10PX 10PX 10PX
}
#TEXT{
FONT:BOLD 30PX TAHOMA;
TEXT-SHADOW:RGB(110,110,110) 3PX 3PX 3PX;
}