*{
MARGIN:0PX;
PADDING:0PX;}
H6{
TEXT-ALIGN:LEFT;
FONT:BOLD 25PX;
COLOR:WHITE;
}
H5{
TEXT-ALIGN:CENTER;
FONT:BOLD;
COLOR:BLACK;
}
H1{
COLOR:BLACK;
FONT:BOLD 20PX TAHOMA;
}
H2
{
FONT:BOLD 30PX TAHOMA;
TEXT-SHADOW:RGB(110,110,110) 3PX 3PX 3PX;
BACKGROUND:-WEBKIT-LINEAR-GRADIENT(TOP,BLACK,WHITE);
}
H9{
COLOR:BLACK;
FONT:BOLD 30PX TAHOMA;
PADDING:6PX;
}
H3{
COLOR:WHITE;
FONT:BOLD 20PX;
BACKGROUND:-WEBKIT-LINEAR-GRADIENT(TOP,BLACK,WHITE);
}
HEADER,SECTION,FOOTER ASIDE,NAV,ARTICLE,HGROUP,ASIDE{
DISPLAY:BLOCK;
}
BODY{
BACKGROUND:#999966;
TEXT-ALIGN:CENTER;
}
#BIG-WRAPPER{
BORDER:1PX SOLID BLOCK;
WIDTH:1000PX;
MARGIN:20PX AUTO;
TEXT-ALIGN:LEFT;
}
#top-rohit{
text-align:center;
padding:20%;
width:100%;
}
#TOP-HEADER{
text-align:center;
BACKGROUND:YELLOW;
BORDER:1PX  yellow;
PADDING:20PX;
BORDER-RADIUS:25PX;
}
#TOP-MENU{
BACKGROUND:RED;
COLOR:WHITE;
CURSOR:POINTER;
}
#TOP-MENU LI{
DISPLAY:INLINE-BLOCK;
LIST-STYLE:NONE;
PADDING:7PX;
FONT:BOLD 14PX TAHOMA;
COLOR:WHITE;
}
#THE-FOOT{
BACKGROUND:BLUE;
DISPLAY:BLOCK;
TEXT-ALIGN:LEFT;
COLOR:BLACK;
}
#THE-FOOT LI{
FONT:BOLD 10PX TAHOMA;
PADDING:1PX;
}
#MAIN-SECTION{
COLOR:white;
WIDTH:600PX;
MARGIN:30PX;
}
#ram{
padding:40px;
display:block;
background:#D3D3D3;
width:300px;
margin:50px ;
border-radius:25px;
}
#JOKE{
PADDIND:7PX;
FLOAT:center;
MARGIN:10PX;
}
#LINKS{
PADDIND:7PX;
FLOAT:RIGHT;
WIDTH:660PX;
MARGIN:10PX;
BACKGROUND:SKYblue;
}
#LINKS LI{
FLOAT:CENTER;
MARGIN:10PX;
}
table#bottomlinks
{
border:none;
width:100%;
}

#bottomlinks td
{
text-align:left;
padding:10px;
vertical-align:top;
}
#MILI{
    line-height:30px;
	
    float:CENTER;

}
#SIDE-NEWS{
PADDIND:7PX;
FLOAT:RIGHT;
WIDTH:660PX;
MARGIN:30PX;
BACKGROUND:#D3D3D3;
BORDER:2PX PINK;
BORDER-RADIUS:5PX;
BACKGROUND:-WEBKIT-LINEAR-GRADIENT(TOP,RED,WHITE);
}
#THE-FOOTER{
COLOR:BLACK;
CLEAR:BOTH;
TEXT-ALIGN:CENTER;
PADDING:20PX;
}
#ARTICLE{
BACKGROUND:#FFFBCC;
BORDER:1PX SOLID RED;
PADDING:20PX;
MARGIN-BOTTOM:15PX;
}
#ARTICLE FOOTER{
TEXT-ALIGN:RIGHT;
TEXT:RED;
}
#TOP-ASIDE{
text-align:left;
display:block;
float:left;
}
#welcome{
background:#800000;
color:#00FFFF;
}
#welcome li{
display:inline-block;
padding:3px;
}