BODY{
TEXT-ALIGN:CENTER;
BACKGROUND:CHOCOLATE;
}
#BOX{
DISPLAY:BLOCK;
WIDTH:500PX;
MARGIN:50PX AUTO;
PADDING:15PX;
TEXT-ALIGN:CENTER;
BORDER:1PX SOLID BLUE;
BACKGROUND:PINK;
BORDER-RADIUS:25PX;
BOX-SHADOW:RGB(110,110,110) 10PX 10PX 10PX;
}
#TEXT{
FONT:BOLD 30PX TAHOMA;
BOX-SHADOW:RGB(110,110,110) 10PX 10PX 10PX;
TEXT-SHADOW:RGB(110,110,110) 3PX 3PX 3PX;
}